# fly.toml app configuration file generated for discord-voice-tracker on 2025-12-06T16:58:22+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'discord-voice-tracker'
primary_region = 'nrt'

[build]

[env]
  NODE_ENV = 'production'

[[mounts]]
  source = 'voice_tracker_data'
  destination = '/app/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 8080
  ports = []

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
